body {
    background-image: url("../images/fancy-pants.jpg");
    color: whitesmoke;
}
.header {
    color: whitesmoke
}
#articles {
    width: 100vw;
}
.dropBtn {
    padding-left: 8px;
}
.card {
    color: black
}
.hidden {
    display: none;
}