body {
    background-image: url("../images/fancy-pants.jpg");
    color: whitesmoke;
}
.header {
    color: whitesmoke
}
#articles {
    width: 100vw;
}
.card-title {
    font-size: 14pt;
}
.excerpt {
    font-size: 12pt;
}
.card {
    color: black
}
.fav-div{
    color: gold
}
.hidden {
    display: none;
}